@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SOGANGUNIVERSITYTTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SOGANGUNIVERSITYTTF.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SungDongMyungjo";
  font-style: normal;
  font-weight: 400;
  src: url("//fastly.jsdelivr.net/korean-webfonts/1/orgs/govs/sdgu/SungDongMyungjo/SungDongMyungjoR.woff2") format("woff2"), url("//fastly.jsdelivr.net/korean-webfonts/1/orgs/govs/sdgu/SungDongMyungjo/SungDongMyungjoR.woff") format("woff");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: "Pretendard-Regular" "맑은 고딕";
}

#header {
  width: 100%;
}
#header .header_inner {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#header .header_inner .btncall {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 20px;
  height: 20px;
  display: none;
  z-index: 100;
  position: fixed;
}
#header .header_inner .btncall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #cecece;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.5s;
}
#header .header_inner .btncall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #cecece;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 0.5s;
}
#header .header_inner .btncall span {
  position: absolute;
  text-indent: -9999999px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #cecece;
  top: 50%;
  margin-top: -1px;
  transition: all 1s;
}
#header .header_inner .btncall.on::before {
  transform: translateY(15px) rotate(45deg);
  transform-origin: center;
}
#header .header_inner .btncall.on::after {
  transform: translateY(-15px) rotate(-45deg);
  transform-origin: center;
}
#header .header_inner .btncall.on span {
  opacity: 0;
}
#header .header_inner .menu_mobile {
  width: 250px;
  height: 100vh;
  background-color: #b8b9b3;
  opacity: 0.9;
  position: fixed;
  top: 0px;
  left: -250px;
  z-index: 100;
  padding: 35px 30px;
  transition: all 0.5s;
  display: none;
}
#header .header_inner .menu_mobile h2 {
  width: 162px;
  height: 104px;
  margin: 0 auto;
}
#header .header_inner .menu_mobile h2 a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#header .header_inner .menu_mobile h2 span {
  display: block;
  font: 20px/1 "SungDongMyungjo";
  color: #777;
  text-align: center;
  margin: 20px;
}
#header .header_inner .menu_mobile ul {
  margin-top: 80px;
}
#header .header_inner .menu_mobile ul li a {
  display: block;
  margin: 30px;
  font: bold 20px/1 "SungDongMyungjo";
  color: #ffffff;
  letter-spacing: 2px;
  text-align: center;
}
#header .header_inner .menu_mobile.on {
  left: 0px;
}
#header .header_inner #header_top {
  width: 100%;
  height: 70px;
  padding: 40px 150px 40px 150px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  transition: all 1s;
  border-bottom: 1px solid #797979;
  backdrop-filter: blur(25rem);
}
#header .header_inner #header_top.on {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  z-index: 90;
  background-color: #fff;
  padding: 40px 150px 40px 150px;
}
#header .header_inner #header_top.on .header_menu a {
  font-weight: 800;
  color: #425549;
}
#header .header_inner #header_top h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#header .header_inner #header_top h1 a {
  display: block;
  width: 81px;
  height: 52px;
}
#header .header_inner #header_top h1 a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#header .header_inner #header_top .header_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header_inner #header_top .header_menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
#header .header_inner #header_top .header_menu ul li a {
  font: 20px/1 "SungDongMyungjo";
  color: #fff;
  letter-spacing: 2px;
  transition: 0.3s;
  position: relative;
  transition: all 0.5s;
}
#header .header_inner #header_top .header_menu ul li a::before {
  content: "";
  background: #fff;
  bottom: -4px;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -50%;
  left: 0px;
  transform: translateX(-50%);
  transition: all 0.5s;
  opacity: 0;
}
#header .header_inner #header_top .header_menu ul li a:hover::before {
  transform: translateX(0%);
  opacity: 1;
}
#header .header_inner .header_Bg .bg_video {
  width: 100%;
  height: 1000px;
  object-fit: cover;
}
#header .header_inner .header_Bg h2 {
  font: 550 60px/1.2 "Pretendard-Regular";
  color: #fff;
  position: absolute;
  top: 60%;
  left: 10%;
  letter-spacing: -0.3rem;
}
#header .header_inner .header_Bg h2 p {
  font: 300 20px/3 "Pretendard-Regular";
  color: #fff;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 700px) {
  #header #header .header_inner {
    width: 100%;
  }
  #header #header .header_inner .btncall {
    display: block;
  }
  #header #header .header_inner .menu_mobile {
    display: block;
  }
  #header #header .header_inner #header_top {
    width: 100%;
  }
  #header #header .header_inner #header_top .header_menu {
    display: none;
  }
  #header #header .header_inner .txt p {
    font: 13px/1 "GowunBatang-Regular", "맑은 고딕";
    letter-spacing: 3px;
  }
}

footer {
  width: 100%;
  height: 200px;
  background-color: #5b5f4e;
  position: relative;
}
footer .ft_menu {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #404434;
}
footer .ft_menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
}
footer .ft_menu ul .inner_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  align-items: center;
}
footer .ft_menu ul .inner_left li a {
  font: 15px/50px "GowunBatang-Regular", "맑은 고딕";
  color: #dadada;
  transition: all 0.5s;
}
footer .ft_menu ul .inner_left li:hover a {
  color: #fff;
}
footer .ft_menu ul .inner_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .ft_menu ul .inner_right li a {
  color: #dadada;
  font-size: 20px;
  opacity: 0.8;
}
footer .ft_contents {
  width: 100%;
  height: 150px;
}
footer .ft_contents ul {
  display: flex;
}
footer .ft_contents ul a {
  position: absolute;
  left: 220px;
  bottom: 50%;
  margin-bottom: -50px;
  display: block;
  width: 81px;
  height: 52px;
}
footer .ft_contents ul a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer .ft_contents ul li {
  position: absolute;
  left: 400px;
  bottom: 18%;
}
footer .ft_contents ul li span {
  font: 15px/1.5 "GowunBatang-Regular", "맑은고딕";
  color: rgba(255, 255, 255, 0.768627451);
  letter-spacing: 1px;
}
footer .ft_contents ul li span::after {
  content: "|";
  padding: 0 3px 0 8px;
  color: #fff;
}

.MainFragrance {
  width: 1180px;
  height: 200px;
  margin: 250px auto 0;
  position: relative;
}
.MainFragrance h2 {
  letter-spacing: 2px;
  text-align: center;
  font: bold 20px/1 "SOGANGUNIVERSITYTTF";
  margin-bottom: 100px;
  color: #425549;
}
.MainFragrance::before {
  position: absolute;
  content: "";
  display: block;
  width: 500px;
  height: 3px;
  background-color: #425549;
  top: 5px;
  left: 0px;
  opacity: 0.5;
}
.MainFragrance::after {
  position: absolute;
  content: "";
  display: block;
  width: 500px;
  height: 3px;
  background-color: #425549;
  top: 5px;
  right: 0px;
  opacity: 0.5;
}
.MainFragrance .MainFragrance_img {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.MainFragrance .MainFragrance_img article {
  width: 280px;
  height: 400px;
  border-radius: 300px 300px 0 0;
  background-color: #ebeae6;
  transition: all 0.5s;
  box-shadow: 5px 5px 7px rgb(143, 143, 143);
}
.MainFragrance .MainFragrance_img article:hover {
  transform: translatey(-20px);
  box-shadow: 10px 10px 7px rgb(114, 114, 114);
}
.MainFragrance .MainFragrance_img article:hover a {
  box-shadow: 0px 5px 0px 0px #8f947c;
}
.MainFragrance .MainFragrance_img article:hover img {
  transform: scale(1.1);
}
.MainFragrance .MainFragrance_img article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}
.MainFragrance .MainFragrance_img article a {
  margin: 30px auto;
  display: block;
  width: 80px;
  height: 40px;
  border: 2.5px solid rgba(91, 95, 78, 0.0745098039);
  border-radius: 5px;
  font: bold 15px/40px "SOGANGUNIVERSITYTTF";
  color: #5b5f4e;
  letter-spacing: 1px;
  text-align: center;
  opacity: 0.9;
  transition: all 0.3s;
}
.MainFragrance .MainFragrance_img article a:hover {
  box-shadow: 0px 5px 0px 0px #8f947c;
}

@media screen and (max-width: 900px) {
  .MainFragrance {
    width: 100%;
  }
  .MainFragrance::before {
    width: 40%;
  }
  .MainFragrance::after {
    width: 40%;
  }
}
@media screen and (max-width: 700px) {
  .MainFragrance {
    width: 100%;
    height: 1500px;
  }
  .MainFragrance::before {
    width: 35%;
  }
  .MainFragrance::after {
    width: 35%;
  }
  .MainFragrance .MainFragrance_img {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .MainFragrance .MainFragrance_img article {
    margin-bottom: 100px;
  }
}
.product_slide .slide1 {
  width: 100%;
  height: 350px;
  margin: 500px auto 0;
}
.product_slide .slide1 .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.product_slide .slide1 .swiper-wrapper .swiper-slide .txt_slide {
  text-align: center;
}
.product_slide .slide1 .swiper-wrapper .swiper-slide .txt_slide h3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.862745098);
  text-shadow: 6px 3px 3px rgb(59, 59, 59);
  font: 20px/1.5 "SOGANGUNIVERSITYTTF";
  letter-spacing: 2px;
}
.product_slide .slide1 .swiper-wrapper .swiper-slide .txt_slide span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  font: 15px/1.5 "GowunBatang-Regular";
  letter-spacing: 2px;
  text-shadow: 6px 3px 3px rgb(0, 0, 0);
  color: #fff;
  width: 100%;
  height: 50%;
}
.product_slide .slide1 .swiper-pagination .swiper-pagination-bullet-active {
  background: none;
  background-color: #bec5a5;
}

@media screen and (max-width: 700px) {
  .product_slide .slide1 {
    margin: 200px auto 0;
  }
}
.social {
  width: 100%;
  position: relative;
  margin: 500px 70px 0px;
  z-index: 5;
}
.social .inner {
  width: 100%;
  height: 600px;
}
.social .inner h2 {
  font-size: 100px;
  position: absolute;
  top: 150px;
  right: 20px;
  color: #fff;
  font-style: italic;
  transform: rotate(-90deg);
  z-index: 2;
  font-family: "SOGANGUNIVERSITYTTF";
  text-shadow: 2px 2px 4px #999;
}
.social .inner article {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.5s;
}
.social .inner article ul {
  width: 100%;
  display: flex;
}
.social .inner article ul li {
  width: 500px;
  height: 800px;
}
.social .inner article ul li:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 5;
}
.social .inner article ul li:nth-of-type(2) {
  position: absolute;
  top: 45%;
  left: 25%;
}
.social .inner article ul li:nth-of-type(3) {
  position: absolute;
  top: -10%;
  left: 55%;
}
.social .inner article ul li img {
  width: 100%;
  height: 100%;
}
.social .inner article ul li .text {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translatex(-100%);
  transition: all 0.8s;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.social .inner article ul li .text h3 {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -50px;
  font: bold 30px/1.2 "SOGANGUNIVERSITYTTF";
  letter-spacing: 5px;
  color: #fff;
}
.social .inner article ul li .text span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -220px);
  font: 15px/1.8 "arial";
  color: #fff;
  letter-spacing: 5px;
}
.social .inner article ul li .text .mossspan {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  font: 15px/1.8 "arial";
  color: #fff;
  letter-spacing: 5px;
}
.social .inner:hover .text {
  opacity: 0.5;
  left: 50%;
  transform: translatex(-50%);
}

.vegan {
  width: 100%;
  height: 2000px;
  background: linear-gradient(-180deg, #c9ccc0, #dcd9d4);
  margin: -800px auto 200px;
  position: relative;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
.vegan .inner {
  width: 1180px;
  height: 400px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translatex(-50%);
  padding: 80px 50px 0px 50px;
  background-image: url(../../img/섹션4/섹션4-배경.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.vegan .inner .vegan_txt {
  text-align: center;
  font: bold italic 20px/1 "SungDongMyungjo";
  color: #4a594e;
}
.vegan .inner .vegan_txt::after {
  content: "";
  width: 150px;
  height: 1.5px;
  background-color: rgba(189, 192, 180, 0.7803921569);
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
}
.vegan .inner .vegan_img {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 70px;
  margin-top: 50px;
}
.vegan .inner .vegan_img article {
  width: 393.3333333333px;
  height: 320px;
  background-color: rgba(255, 255, 255, 0.2392156863);
  padding: 40px 30px 50px 30px;
  margin-top: 30px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.vegan .inner .vegan_img article i {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8078431373);
}
.vegan .inner .vegan_img article p {
  font: italic 15px "SOGANGUNIVERSITYTTF";
  letter-spacing: 2px;
  margin-top: 50px;
}
.vegan .inner .vegan_img article span {
  display: block;
  font: 13px/1.7 "SOGANGUNIVERSITYTTF";
  letter-spacing: 2px;
  margin-top: 25px;
}

#allProduct {
  width: 100%;
  height: 500px;
  background-color: rgba(143, 148, 124, 0.7333333333);
}
#allProduct .allProduct_inner {
  width: 1180px;
  margin: 200px auto 500px;
  position: relative;
}
#allProduct .allProduct_inner h2 {
  text-align: center;
  font: bold 25px/1 "SungDongMyungjo";
  letter-spacing: 2px;
  padding-top: 50px;
  margin-bottom: 50px;
  color: #ffffff;
}
#allProduct .allProduct_inner::before {
  position: absolute;
  content: "";
  display: block;
  width: 300px;
  height: 2.5px;
  background-color: #fff;
  top: 60px;
  left: 150px;
  opacity: 0.2;
}
#allProduct .allProduct_inner::after {
  position: absolute;
  content: "";
  display: block;
  width: 300px;
  height: 2.5px;
  background-color: #fff;
  top: 60px;
  right: 150px;
  opacity: 0.2;
}
#allProduct .allProduct_inner .wrap {
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3960784314);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  padding: 25px 25px 0;
}
#allProduct .allProduct_inner .wrap .panel {
  width: 100%;
  margin-left: -25%;
  height: 500px;
  display: flex;
}
#allProduct .allProduct_inner .wrap .panel li {
  width: 100%;
  height: 300px;
  margin: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#allProduct .allProduct_inner .wrap .panel li article {
  width: 244px;
  height: 292px;
  margin: 20px;
}
#allProduct .allProduct_inner .wrap .panel li article img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: -30px;
  margin-bottom: 35px;
}
#allProduct .allProduct_inner .wrap .panel li article p {
  text-align: center;
  font: bold 13px/1.5 "GowunBatang-Regular";
  padding: 20px;
  color: #5b5f4e;
  letter-spacing: 2px;
}
#allProduct .allProduct_inner .wrap .panel li article a {
  display: block;
  width: 100px;
  height: 30px;
  border: 1px solid rgba(132, 138, 115, 0.368627451);
  border-radius: 5px;
  text-align: center;
  font: 500 10px/30px "SOGANGUNIVERSITYTTF";
  letter-spacing: 1.5px;
  transition: all 0.5s;
  color: #555;
  margin: 0 auto;
}
#allProduct .allProduct_inner .wrap .panel li article a:hover {
  background-color: #fff;
}
#allProduct .prev {
  display: block;
  font-size: 70px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: -15%;
  opacity: 0.5;
}
#allProduct .next {
  display: block;
  font-size: 70px;
  color: #fff;
  position: absolute;
  top: 50%;
  right: -15%;
  opacity: 0.5;
}

@media screen and (max-width: 700px) {
  #allProduct .allProduct_inner {
    width: 100%;
    margin: 200px auto 0px;
  }
  #allProduct .allProduct_inner::before {
    display: none;
  }
  #allProduct .allProduct_inner::after {
    display: none;
  }
  #allProduct .allProduct_inner .wrap {
    padding: 0px;
  }
  #allProduct .allProduct_inner .wrap .panel {
    margin-left: 0%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
#header_sub {
  width: 100%;
}
#header_sub .header_inner {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#header_sub .header_inner .btncall {
  position: absolute;
  top: 30px;
  right: 40px;
  width: 20px;
  height: 20px;
  display: none;
  z-index: 100;
  position: fixed;
}
#header_sub .header_inner .btncall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #cecece;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.5s;
}
#header_sub .header_inner .btncall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #cecece;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 0.5s;
}
#header_sub .header_inner .btncall span {
  position: absolute;
  text-indent: -9999999px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #cecece;
  top: 50%;
  margin-top: -1px;
  transition: all 1s;
}
#header_sub .header_inner .btncall.on::before {
  transform: translateY(15px) rotate(45deg);
  transform-origin: center;
}
#header_sub .header_inner .btncall.on::after {
  transform: translateY(-15px) rotate(-45deg);
  transform-origin: center;
}
#header_sub .header_inner .btncall.on span {
  opacity: 0;
}
#header_sub .header_inner .menu_mobile {
  width: 250px;
  height: 100vh;
  background-color: #b8b9b3;
  opacity: 0.9;
  position: fixed;
  top: 0px;
  left: -250px;
  z-index: 100;
  padding: 35px 30px;
  transition: all 0.5s;
}
#header_sub .header_inner .menu_mobile h2 {
  width: 162px;
  height: 104px;
  margin: 0 auto;
}
#header_sub .header_inner .menu_mobile h2 a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#header_sub .header_inner .menu_mobile h2 span {
  display: block;
  font: 20px/1 "SungDongMyungjo";
  color: #777;
  text-align: center;
  margin: 20px;
}
#header_sub .header_inner .menu_mobile ul {
  margin-top: 80px;
}
#header_sub .header_inner .menu_mobile ul li a {
  display: block;
  margin: 30px;
  font: bold 20px/1 "SungDongMyungjo";
  color: #ffffff;
  letter-spacing: 2px;
  text-align: center;
}
#header_sub .header_inner .menu_mobile.on {
  left: 0px;
}
#header_sub .header_inner #header_top {
  width: 1180px;
  height: 70px;
  margin: 0 auto;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  transition: all 1s;
}
#header_sub .header_inner #header_top.on {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  z-index: 90;
  background-color: rgba(91, 95, 78, 0.6980392157);
  box-shadow: 5px 5px 5px rgba(72, 75, 61, 0.6980392157);
  padding: 15px 150px 15px 150px;
}
#header_sub .header_inner #header_top h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#header_sub .header_inner #header_top h1 a {
  display: block;
  width: 81px;
  height: 52px;
}
#header_sub .header_inner #header_top h1 a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#header_sub .header_inner #header_top .header_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header_sub .header_inner #header_top .header_menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 100%;
}
#header_sub .header_inner #header_top .header_menu ul li a {
  font: 18px/1 "SungDongMyungjo";
  color: #fff;
  letter-spacing: 2px;
  transition: 0.3s;
  position: relative;
  transition: all 0.5s;
}
#header_sub .header_inner #header_top .header_menu ul li a::before {
  content: "";
  background: rgba(255, 255, 255, 0.671);
  bottom: -4px;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0px;
  transform: translateX(-50%);
  transition: all 0.5s;
  opacity: 0;
}
#header_sub .header_inner #header_top .header_menu ul li a:hover::before {
  transform: translateX(0%);
  opacity: 1;
}

.content {
  width: 100%;
  padding: 0 0 150px;
}
.content .sub_visual {
  width: 100%;
  height: 250px;
  background-color: #aaa;
  margin-bottom: 100px;
}
.content .inner {
  width: 1180px;
  margin: 0 auto;
  min-height: 500px;
}
.content .inner h2 {
  font: normal 50px/1 "arial";
  color: #000;
  margin-bottom: 60px;
}
.content .inner h2 span {
  font: normal 20px/1 "맑은 고딕";
  color: #aaa;
}
.content .inner h2 span::before {
  content: "/";
  margin-left: 10px;
  margin-right: 20px;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #5b5f4e;
  position: relative;
}
footer .ft_menu {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #404434;
}
footer .ft_menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
}
footer .ft_menu ul .inner_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  align-items: center;
}
footer .ft_menu ul .inner_left li a {
  font: 15px/50px "GowunBatang-Regular", "맑은 고딕";
  color: #dadada;
  transition: all 0.5s;
}
footer .ft_menu ul .inner_left li:hover a {
  color: #fff;
}
footer .ft_menu ul .inner_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .ft_menu ul .inner_right li a {
  color: #dadada;
  font-size: 20px;
  opacity: 0.8;
}
footer .ft_contents {
  width: 100%;
  height: 150px;
}
footer .ft_contents ul {
  display: flex;
}
footer .ft_contents ul a {
  position: absolute;
  left: 220px;
  bottom: 50%;
  margin-bottom: -50px;
  display: block;
  width: 81px;
  height: 52px;
}
footer .ft_contents ul a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer .ft_contents ul li {
  position: absolute;
  left: 400px;
  bottom: 18%;
}
footer .ft_contents ul li span {
  font: 15px/1.5 "GowunBatang-Regular", "맑은고딕";
  color: rgba(255, 255, 255, 0.768627451);
  letter-spacing: 1px;
}
footer .ft_contents ul li span::after {
  content: "|";
  padding: 0 3px 0 8px;
  color: #fff;
}

@media screen and (max-width: 700px) {
  #header_sub .header_inner {
    width: 100%;
  }
  #header_sub .header_inner .btncall {
    display: block;
  }
  #header_sub .header_inner #header_top {
    width: 100%;
  }
  #header_sub .header_inner #header_top .header_menu {
    display: none;
  }
}
.tab {
  width: 100%;
}
.tab .sub_product_visual {
  width: 100%;
  height: 500px;
  background-color: antiquewhite;
  background-image: url(../../img/서브페이지_PRODUCT/서브페이지_PRODUCT_header_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.tab .sub_product_visual_inner {
  width: 1180px;
  margin: 150px auto;
}
.tab .sub_product_visual_inner h2 {
  text-align: center;
}
.tab .sub_product_visual_inner h2 ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tab .sub_product_visual_inner h2 ul li.active a {
  color: #000;
}
.tab .sub_product_visual_inner h2 ul li:hover a {
  color: #000;
}
.tab .sub_product_visual_inner h2 ul li a {
  font: 600 20px/1 "SOGANGUNIVERSITYTTF";
  color: #7b7e71;
  transition: all 0.3s;
  letter-spacing: 1px;
}
.tab .sub_product_visual_inner h2 ul li a:hover {
  color: #51534a;
}
.tab .sub_product_visual_inner h2 ul li::after {
  content: "|";
  padding: 0 3px 0 8px;
  color: #999;
}
.tab .sub_product_visual_inner h2 ul li:last-child::after {
  content: none;
}
.tab .conBox {
  width: 100%;
  height: 700px;
  display: none;
}
.tab .conBox.active {
  display: block;
}
.tab .conBox ul {
  width: 100%;
  margin: 0 auto;
}
.tab .conBox ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.tab .conBox ul li article {
  width: 300px;
  height: 400px;
  background-color: rgba(199, 199, 199, 0.568627451);
  border-radius: 50px;
}
.tab .conBox ul li article img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin: 0 auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tab .conBox ul li article p {
  position: relative;
  bottom: -100px;
  text-align: center;
  font: bold 20px/1.5 "GowunBatang-Regular";
  padding: 20px;
  color: #5b5f4e;
  letter-spacing: 2px;
}

@media screen and (max-width: 700px) {
  #header_sub_product .header_inner {
    width: 100%;
  }
  #header_sub_product .header_inner .btncall {
    display: block;
  }
  #header_sub_product .header_inner #header_top {
    width: 100%;
  }
  #header_sub_product .header_inner #header_top .header_menu {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
